.list {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem 0.5rem;

  background-color: #ddd;
  color: #1b262c;

  border-radius: 8px;
  box-shadow: 0 0 7px rgb(0 0 0 / 25%);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin-bottom: 1rem;
  }

  &__title {
    font-size: 18px;

    margin-bottom: 0;
  }

  &__items {
    width: 100%;
  }

  &__button {
    border: none;
    outline: none;
    padding: 3px 6px;
    transition: background .1s, display .1s;
    background-color: #aaa;
    color: #e7e7e9;
    font-size: .8rem;
    border-radius: 4px;
  }

  &__button--add {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0.7rem;
    border-radius: 6px;
  }
}
